* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333; 
    font-family: Arial, sans-serif;
}

section {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
}

form div {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}